/* 
.emaiInput::placeholder {
  font-weight: bold;
  padding-left: 20px;
  color: rgba(54, 83, 107, 50%);
} */


@media only screen and (min-width: 768px) {
  .emaiInput::placeholder {
    padding-left: 10px;
  }
}

